/* colors!!!!!*/
/* font!!!!! */
@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}
@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@-webkit-keyframes counter-clock {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(-2turn);
            transform: rotate(-2turn);
  }
}

@keyframes counter-clock {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(-2turn);
            transform: rotate(-2turn);
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

h1 {
  font-family: "Shrikhano", sans serif;
}

h2 {
  font-family: "Roboto", sans serif;
}

h3 {
  font-family: "Roboto", sans serif;
  text-transform: uppercase;
  font-size: 14px;
}

h4 {
  font-family: "Roboto", sans serif;
}

p {
  font-family: "Roboto", sans serif;
}

#exp {
  font-family: "Roboto", sans serif;
}

.search {
  font-family: "Roboto", sans serif;
}

.button {
  font-family: "Roboto", sans serif;
}

.restaurant__card-label {
  font-family: "Roboto", sans serif;
}

.column {
  font-family: "Roboto", sans serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

.footer img {
  -webkit-filter: brightness(100);
          filter: brightness(100);
  width: 7.25rem;
  padding-top: 1.75rem;
  padding-left: 1rem;
  position: relative;
}

.column {
  position: absolute;
  padding: 1rem;
  line-height: 1.5rem;
}

.footer-link {
  color: white;
}

.footer-section {
  background-color: #353535;
  height: 196px;
  width: 420px;
}

@media screen and (min-width: 300px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /* HEADER!!!!!!!!!! */
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
  }
  .header-logo img {
    width: 15rem;
    margin: 0;
  }
  /* SEARCH!!!!!!!!!!!! */
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 48px;
    width: auto;
    background-color: lightgray;
    font-size: 16px;
    font-weight: 700;
    padding: 3px;
    -webkit-box-shadow: inset 1px 5px 14px -14px gray;
            box-shadow: inset 1px 5px 14px -14px gray;
  }
  .search__row {
    margin-left: 38px;
    padding: 10px;
  }
  .search i {
    padding-right: 20px;
  }
  .search .search-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    border: none;
    font-weight: 900;
    margin-left: .5rem;
    background-color: lightgray;
  }
  .search .search-box:focus {
    border: none;
    outline: none;
  }
  /*--PAGE AND SUBTITLE!!!!!!!!!! */
  .subtitle {
    text-align: center;
    background-color: #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Page-Title-and-Subtitle {
    padding: 1.8rem;
    line-height: 1.5;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .PSubtitle {
    width: 95%;
    font-weight: 300;
    padding-top: 20px;
    padding-left: 1.6rem;
  }
  .btn-header {
    cursor: pointer;
    border-radius: 25px;
    padding: 13px 20px;
    margin: 10px 0 40px 0;
    font-size: 14px;
    color: white;
    border: none;
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  }
  .btn-header:hover {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  /* INFORMATION ROW!!!!!! */
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .info__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
  .info__title {
    margin-left: 17px;
    padding: 35px 0 15px 0;
    font-weight: 500;
    font-size: 20px;
  }
  .info span {
    display: inline-block;
  }
  .info__num {
    color: white;
    padding-top: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100px;
    background-color: #9356DC;
    position: relative;
    right: 1.75rem;
  }
  .info__button {
    background-color: #eaeaea;
    position: relative;
    border: none;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
    width: 321px;
    height: 72px;
    -webkit-box-shadow: 2px 2px 2px gray;
            box-shadow: 2px 2px 2px gray;
  }
  .info__button:hover {
    background-color: #e6d1f2;
  }
  .info__button:hover .info__icon {
    color: #9356DC;
  }
  .info__icon {
    padding: 10px 0px;
    width: 30px;
  }
  /* RESTAURANT CARDS!!!!!!!!!! */
  .restaurants {
    background-color: #EAEAEA;
    /*---HEART ICON-----*/
    /* css for solid heart before the hover */
    /* css for solid heart after the hover */
    /* css for the outline heart before the hover */
    /* css for the outline heart after the hover */
  }
  .restaurants__wrap {
    background-color: #eaeaea;
    height: 1217px;
  }
  .restaurants__container {
    width: 332px;
    margin-left: 2rem;
  }
  .restaurants__title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    margin-left: 17px;
  }
  .restaurants__card {
    position: relative;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
    height: 265px;
    width: auto;
    -webkit-box-shadow: 2px 5px 5px lightgray;
            box-shadow: 2px 5px 5px lightgray;
  }
  .restaurants__card-info {
    margin-left: 10px;
    padding: 10px 0 15px 0;
  }
  .restaurants h2 {
    font-weight: 500;
    font-size: 16px;
  }
  .restaurants h4 {
    margin-top: 5px;
    font-weight: 200;
    font-size: 14px;
  }
  .restaurants__card-img-1, .restaurants__card-img-2, .restaurants__card-img-3, .restaurants__card-img-4 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 8;
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__card-label {
    background-color: #99E2D0;
    margin: 0;
    width: 75px;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 8px;
  }
  .restaurants__card-icon {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    margin-left: 18rem;
    padding-bottom: 1.5rem;
    bottom: 20px;
  }
  .restaurants .solid {
    position: relative;
    opacity: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9536dc));
    background: linear-gradient(to top, #ff79da, #9536dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  .restaurants .restaurants__card-icon:hover .solid {
    opacity: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9536dc));
    background: linear-gradient(to top, #ff79da, #9536dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  .restaurants .outline {
    position: absolute;
    opacity: 100%;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  .restaurants .restaurants__card-icon:hover .outline {
    opacity: 0;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    height: 55px;
    width: 100%;
  }
  /* SEARCH BAR */
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* INFORMATION!! */
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .info__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__num {
    left: -30px;
  }
  .info__button {
    width: 80%;
    margin: 0 0 15px 25px;
  }
  /* RESTAURANT CARDS!!!!! */
  .restaurants__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants__title {
    margin-left: 35px;
  }
  .restaurants__card {
    height: 255px;
    width: auto;
  }
  .restaurants__card-img-1, .restaurants__card-img-2, .restaurants__card-img-3, .restaurants__card-img-4 {
    height: 180px;
  }
  /* FOOTER!!!!!! */
  .footer-section {
    width: auto;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
  .header__logo {
    height: 75px;
    width: 50%;
  }
  /* SEARCH BAR */
  .subtitle-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Psubtitle {
    margin-left: 35px;
  }
  .btn-gradient {
    margin-right: 150px;
  }
  /* INFORMATION!! */
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .info__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__num {
    left: -28px;
  }
  .info__button {
    width: 90%;
    margin: 0 15px 20px 18px;
  }
  /*-- RESTAURANT CARD--*/
  .restaurants{
    /*-- HEART--*/
  }
  .restaurants__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants__title {
    margin-left: 30px;
  }
  .restaurants__card {
    margin-left: .25rem;
    width: 245%;
    height: 22%;
  }
  .restaurants__card-img-1, .restaurants__card-img-2, .restaurants__card-img-3, .restaurants__card-img-4 {
    height: 200px;
  }
  .restaurants__card-icon {
    top: 85%;
    right: 8%;
  }
  /* FOOTER SECTION!!!!!!! */
  .footer-section {
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
  .header-logo {
    height: 100px;
    width: 100%;
  }
  /* SEARCH BAR */
  .subtitle-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Psubtitle {
    margin-left: 35px;
  }
  .btn-gradient {
    margin-right: 150px;
  }
  /* INFORMATION!!!! */
  .info__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 15px;
  }
  .info__title {
    margin-left: 29px;
  }
  .info__num {
    left: -30px;
  }
  .info__button {
    width: 30%;
    border-radius: 25px;
    margin-right: 12px;
  }
  .info__icon {
    font-size: 18px;
  }
  /* RESTAURANT CARDS!!!!! */
  .restaurants{
    /* HEART!!!!!!! */
  }
  .restaurants__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-left: 29px;
  }
  .restaurants__wrap {
    height: auto;
  }
  .restaurants__title {
    margin-left: 29px;
  }
  .restaurants__card {
    margin-left: 29px;
    margin-bottom: 20px;
    width: 45%;
  }
  .restaurants__card-img-1, .restaurants__card-img-2, .restaurants__card-img-3, .restaurants__card-img-4 {
    height: 195px;
  }
  .restaurants__card-icon {
    top: 83%;
    right: 9.5%;
  }
  /* FOOTER!!!!!! */
  .footer-section {
    width: auto;
  }
}

@media screen and (min-width: 0px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__menu .header__return {
    display: inline-block;
    position: absolute;
  }
  .header__menu i {
    color: black;
    margin-right: 20rem;
  }
  .header__menu img {
    width: 14rem;
    margin-left: 1rem;
  }
  .menu__containers {
    position: relative;
    background-color: #eaeaea;
    width: 420px;
  }
  .menu__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__image {
    width: 420px;
    height: 217px;
    z-index: 10;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    margin-left: 12px;
    padding-bottom: 1rem;
  }
  /*-- HEART!!!!!! --*/
  .menu__title-icon {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    right: 3.75rem;
    margin-top: 2px;
    padding-bottom: 1.5rem;
  }
  /* css for solid heart before the hover */
  .solid {
    position: absolute;
    opacity: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
    background: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  /* css for solid heart after the hover */
  .menu__title-icon:hover .solid {
    opacity: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
    background: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  /* css for the outline heart before the hover */
  .outline {
    position: absolute;
    opacity: 100%;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  /* css for the outline heart after the hover */
  .menu__title-icon:hover .outline {
    opacity: 0;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  /* CARDS!!!!!!! */
  .menu__choices-title {
    font-weight: 400;
    padding-bottom: 3px;
    margin-left: 12px;
    border-bottom: solid 3px;
    -o-border-image: linear-gradient(to right, #99e2d0 10%, #EAEAEA 10%) 100% 1;
       border-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #99e2d0), color-stop(10%, #EAEAEA)) 100% 1;
       border-image: linear-gradient(to right, #99e2d0 10%, #EAEAEA 10%) 100% 1;
  }
  .menu__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    margin: 12px;
    -webkit-box-shadow: 5px 5px 2px grey;
            box-shadow: 5px 5px 2px grey;
    -webkit-animation: appear ease-in-out .8s;
            animation: appear ease-in-out .8s;
    width: 100%;
  }
  .menu__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 24.5%;
    padding: 0 8px 8px 48px;
  }
  .menu__text {
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-transition: width 1s;
    transition: width 1s;
    width: 75%;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 5px 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu__description {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    padding: 0px 5px 8px 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu__holder {
    width: 40%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #99E2D0;
  }
  .menu__card:hover .menu__text {
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
  }
  /* ANIMATIONS APPEAR AFTER ITEM BEING CLICKED */
  .menu__holder:hover .menu__icon {
    -webkit-animation: clockwise 1000ms ease-in-out forwards;
            animation: clockwise 1000ms ease-in-out forwards;
  }
  .menu__card:hover .menu__icon {
    -webkit-animation: clockwise 1000ms ease-in-out forwards;
            animation: clockwise 1000ms ease-in-out forwards;
  }
  .menu__icon {
    color: #fff;
  }
  /* css for card ease in */
  #card-1 {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
  }
  #card-2 {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  #card-3 {
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  #card-4 {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
  }
  #card-5 {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
  }
  #card-6 {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  #card-7 {
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
  }
  #card-8 {
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
  }
  #card-9 {
    -webkit-animation-delay: .9s;
            animation-delay: .9s;
  }
  #card-10 {
    -webkit-animation-delay: .10s;
            animation-delay: .10s;
  }
  /* order-button!!!! */
  .menu__order-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #eaeaea;
    width: 420px;
  }
  .menu__order-btn .btn-gradient {
    cursor: pointer;
    border-radius: 25px;
    padding: 13px 20px;
    margin: 10px 0 40px 0;
    font-size: 14px;
    color: white;
    border: none;
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    padding: 13px 60px;
  }
  .menu__order-btn .btn-gradient:hover {
    -webkit-filter: brightness(95%);
            filter: brightness(95%);
  }
}

@media screen and (max-width: 767px) {
  .header__return {
    top: 2%;
    left: 10%;
  }
  .menu__image {
    width: 100%;
    height: 200px;
  }
  .menu__title {
    margin: 15px 0 0 18px;
  }
  .menu__containers {
    width: 100%;
  }
  /* HEART!!!!!! */
  .menu__title-icon {
    top: 1%;
    left: 89%;
  }
  /* CARDS!!!!!!!!!! */
  .menu__choices-title {
    margin: 30px 0 20px 18px;
  }
  .menu__card {
    width: 90%;
    margin-left: 18px;
  }
  .menu__prices {
    padding: 0 8px 8px 50px;
  }
  .menu__text {
    width: 75%;
  }
  .menu__card:hover .menu__text {
    width: 60%;
  }
  .menu__description {
    font-size: 14px;
  }
  .menu__holder {
    width: 48%;
  }
  .menu__order-btn {
    width: 100%;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
  .header__return {
    top: 4%;
    left: 5%;
  }
  .header__logo {
    margin-left: 9.5rem;
    margin-top: 1rem;
  }
  .menu__image {
    height: 200px;
    width: 100%;
  }
  .menu__title {
    margin: 15px 0 0 40px;
  }
  /* HEART!!! */
  .menu__title-icon {
    top: 1.75%;
    left: 92.5%;
  }
  /* CARDS */
  .menu__choices-title {
    margin: 30px 0 20px 40px;
  }
  .menu__card {
    width: 90%;
    margin-left: 40px;
  }
  .menu__text {
    width: 88%;
  }
  .menu__prices {
    padding: 0 8px 8px 50px;
  }
  .menu__description {
    font-size: 14px;
  }
  .menu__card:hover .menu__text {
    width: 60%;
  }
  .menu__containers {
    width: 100%;
  }
  .menu__order-btn {
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
  * {
    padding: 0;
    margin: 0;
  }
  .header__return {
    top: 2%;
    left: 2%;
  }
  .menu__image {
    height: 200px;
    width: 100%;
  }
  .menu__title {
    margin: 15px 0 0 20px;
  }
  /* HEART!!!!! */
  .menu__title-icon {
    top: 1%;
    left: 97.2%;
  }
  /* CARDS!!!!!!! */
  .menu__choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu__entrees,
  .menu__main-dish,
  .menu__dessert {
    width: 100%;
  }
  .menu__choices-title {
    width: 85%;
    margin: 30px 0 20px 20px;
  }
  .menu__card {
    width: 90%;
    margin-right: 35px;
  }
  .menu__text {
    width: 82%;
  }
  .menu__prices {
    padding: 5px 8px 8px 20px;
  }
  .menu__card:hover .menu__text {
    width: 55%;
  }
  .menu__description {
    font-size: 14px;
  }
  .menu__order-btn {
    width: 100%;
  }
  .menu__containers {
    width: auto;
  }
}
/*# sourceMappingURL=main.css.map */