@media screen and (max-width: 767px){
    .header-logo{
        height: 55px;
        width: 100%;
    }

    /* SEARCH BAR */

    .search{
        flex-direction: column;
    }

    /* INFORMATION!! */

    .info{
        display: flex;
        flex-direction: column;
        width: 100%;

        &__wrap{
            display: flex;
            flex-direction: column;
        }

        &__num{
            left: -30px;
        }

        &__button{
            width: 80%;
            margin: 0 0 15px 25px;
        }
    }

    /* RESTAURANT CARDS!!!!! */ 
    
    .restaurants{
        &__wrap{
            display: flex;
            flex-direction: column;
        }

        &__title{
            margin-left: 35px;
        }

        &__card{
            height: 255px;
            width: auto;
        }

        &__card-img-1,
        &__card-img-2,
        &__card-img-3,
        &__card-img-4 {
            height: 180px;
        }
    }

    /* FOOTER!!!!!! */ 

    .footer-section{
        width: auto;
    }

}



@media screen and (max-width: 992px) and (min-width: 767px) {
    
    .header__logo {
        height: 75px;
        width: 50%;
    }

     /* SEARCH BAR */

     .subtitle-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .Psubtitle{
        margin-left: 35px;
    }
    .btn-gradient{
        margin-right: 150px;
    }

    /* INFORMATION!! */

    .info{
        display: flex;
        flex-direction: column;
        width: auto;
    
        &__wrap{
            display: flex;
            flex-direction: column;
        }
    
        &__num{
            left: -28px;
        }
    
        &__button{
            width: 90%;
            margin: 0 15px 20px 18px;
        }
    }

    /*-- RESTAURANT CARD--*/

    .restaurants {
        &__wrap {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin-left: 30px;
        }


        &__card {
            margin-left: .25rem;
            width: 210%;
            height: 22%;
        }
        &__card-img-1,
        &__card-img-2,
        &__card-img-3,
        &__card-img-4 {
            height: 200px;
        }
   /*-- HEART--*/

    &__card-icon {
        top: 85%;
        right: 8%;       
        }
    }


    /* FOOTER SECTION!!!!!!! */ 
    .footer-section{
        width:auto;
    }
}

@media screen and (min-width: 993px){
    .header-logo{
        height: 100px;
        width: 100%;
    }

    /* SEARCH BAR */

    .subtitle-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: auto;
    }

    .Psubtitle{
        margin-left: 35px;
    }
    .btn-gradient{
        margin-right: 150px;
    }

    /* INFORMATION!!!! */

    .info{
        &__wrap{
            flex-direction: row;
            margin-left: 15px;
            width: 100%;
        }

        &__title{
            margin-left: 29px;
        }

        &__num{
            left: -30px;
        }

        &__button{
            width: 30%;
            border-radius: 25px;
            margin-right: 12px;
        }

        &__icon{
            font-size: 18px;
        }
    }

    /* RESTAURANT CARDS!!!!! */ 

    .restaurants{
        &__container{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 29px;
        }

        &__wrap{
            height: auto;
        }

        &__title{
            margin-left: 29px;
        }

        &__card{
            margin-left: 29px;
            margin-bottom: 20px;
            width: 45%;
        }

        &__card-img-1,
        &__card-img-2,
        &__card-img-3,
        &__card-img-4 {
            height: 195px;
        }
    

        /* HEART!!!!!!! */ 
            &__card-icon{
            top: 83%;
            right: 9.5%;
        }
    }

    /* FOOTER!!!!!! */ 

    .footer-section{
        width: auto;
    }

}